body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clue {
  margin-bottom: 0.2em;
}

.clues {
  height: 275px;
  overflow: hidden auto;
  margin-top: 20px;
}

.box {
  height: 40px;
  width: 40px;
  outline: 1px solid grey;
  border:none;
  outline-offset: -1px;
  display: inline-table;
  margin: 0;
  float: left;
}

.empty {
  background: black;
}

.box-input {
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase; 
  font-size: 1.5em;
}

.box-label {
  font-size: .7em;
  position: absolute;
  margin-left: 2px;
}

.highlight {
  background: lightgreen;
}

.active-clue {
  padding: 10px;
  margin: 10px 0;
}

.crswd-info {
  text-align: center;
  margin-top: 10px;
}