body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clue {
  margin-bottom: 0.2em;
}

.clues {
  height: 275px;
  overflow: hidden auto;
  margin-top: 20px;
}

.box {
  height: 40px;
  width: 40px;
  outline: 1px solid grey;
  border:none;
  outline-offset: -1px;
  display: inline-table;
  margin: 0;
  float: left;
}

.empty {
  background: black;
}